.divStyle{
    text-align: center;
    display: block;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 100px;
    background-color: beige;
}
div{
    text-align:center;
    display: block;
}
